In [8]:
import csv
import pandas as pd

In [9]:
housing_df = pd.read_csv("Indianapolis_Housing_Data.csv")
housing_df.head()

,Date,% of Homes Decreasing in Value,% of Homes Increasing in Value,% of Listings with Price Reduction,Median % Reduction,Median List Price,Median List Price per Square Foot,Median Market Value (Single Family),Median Price 1 Bedroom,Median Price 2 Bedroom,Median Price 3 Bedroom,Median Price 4 Bedroom,Median Price 5 Bedroom,Sales per Month,Zip_Code
0,1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,93800.0,NaN,86600.0,90600.0,113100.0,NaN,NaN,46107
1,1996-05-31,NaN,NaN,NaN,NaN,NaN,NaN,92100.0,NaN,85400.0,89300.0,111900.0,NaN,NaN,46107
2,1996-06-30,NaN,NaN,NaN,NaN,NaN,NaN,90300.0,NaN,84100.0,87900.0,110900.0,NaN,NaN,46107
3,1996-07-31,NaN,NaN,NaN,NaN,NaN,NaN,88400.0,NaN,82800.0,86500.0,109800.0,NaN,NaN,46107
4,1996-08-31,NaN,NaN,NaN,NaN,NaN,NaN,86500.0,NaN,81500.0,85200.0,108800.0,NaN,NaN,46107

In [10]:
housing_df.dtypes

Date                                    object
% of Homes Decreasing in Value         float64
% of Homes Increasing in Value         float64
% of Listings with Price Reduction     float64
Median % Reduction                     float64
Median List Price                      float64
Median List Price per Square Foot      float64
Median Market Value (Single Family)    float64
Median Price 1 Bedroom                 float64
Median Price 2 Bedroom                 float64
Median Price 3 Bedroom                 float64
Median Price 4 Bedroom                 float64
Median Price 5 Bedroom                 float64
Sales per Month                        float64
Zip_Code                                 int64
dtype: object

In [11]:
housing_df_nonan = housing_df.dropna()

In [7]:
housing_df_nonan.Zip_Code.unique()

array([46107, 46217, 46218, 46219, 46220, 46221, 46222, 46224, 46226,
       46227, 46228, 46229, 46231, 46234, 46235, 46202, 46205, 46214,
       46237, 46239, 46240, 46241, 46254, 46256, 46259, 46260, 46268,
       46236])

In [12]:
housing_df_nonan.count()

Date                                   1747
% of Homes Decreasing in Value         1747
% of Homes Increasing in Value         1747
% of Listings with Price Reduction     1747
Median % Reduction                     1747
Median List Price                      1747
Median List Price per Square Foot      1747
Median Market Value (Single Family)    1747
Median Price 1 Bedroom                 1747
Median Price 2 Bedroom                 1747
Median Price 3 Bedroom                 1747
Median Price 4 Bedroom                 1747
Median Price 5 Bedroom                 1747
Sales per Month                        1747
Zip_Code                               1747
dtype: int64

In [32]:
housing_df_nonan.head()

,Date,% of Homes Decreasing in Value,% of Homes Increasing in Value,% of Listings with Price Reduction,Median % Reduction,Median List Price,Median List Price per Square Foot,Median Market Value (Single Family),Median Price 1 Bedroom,Median Price 2 Bedroom,Median Price 3 Bedroom,Median Price 4 Bedroom,Median Price 5 Bedroom,Sales per Month,Zip_Code
173,2010-09-30,12.94,77.61,15.254237,4.766444,85000.0,72.815534,87521.0,70780.0,72199.0,89413.0,107964.0,117021.0,12.0,46107
174,2010-10-31,14.25,76.32,11.111111,5.889282,85000.0,72.410148,86457.0,69591.0,70947.0,88400.0,106805.0,115350.0,10.0,46107
175,2010-11-30,20.77,69.23,11.278195,6.257822,85000.0,72.815534,85663.0,69255.0,70005.0,87689.0,105764.0,113950.0,10.0,46107
176,2010-12-31,22.06,68.58,16.000000,5.555556,80000.0,72.812500,85064.0,68599.0,69448.0,87099.0,105506.0,113842.0,15.0,46107
177,2011-01-31,24.30,66.09,19.130435,8.000000,79900.0,72.208835,84684.0,67617.0,69219.0,86715.0,105020.0,113618.0,17.0,46107

In [10]:
housing_df_nonan.Date.unique()

array(['2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31',
       '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30',
       '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31',
       '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31',
       '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30',
       '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31',
       '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31',
       '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30',
       '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31',
       '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31',
       '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30',
       '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31',
       '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31',
       '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
       '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31',
       '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31',
       '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
       '2016-05-31', '2016-06-30'], dtype=object)

In [13]:
housing_df_nonan.Date.astype(str)

173      2010-09-30
174      2010-10-31
175      2010-11-30
176      2010-12-31
177      2011-01-31
            ...
10101    2016-02-29
10102    2016-03-31
10103    2016-04-30
10104    2016-05-31
10105    2016-06-30
Name: Date, Length: 1747, dtype: object

In [24]:
housing_df_nonan.dtypes

Date                                    object
% of Homes Decreasing in Value         float64
% of Homes Increasing in Value         float64
% of Listings with Price Reduction     float64
Median % Reduction                     float64
Median List Price                      float64
Median List Price per Square Foot      float64
Median Market Value (Single Family)    float64
Median Price 1 Bedroom                 float64
Median Price 2 Bedroom                 float64
Median Price 3 Bedroom                 float64
Median Price 4 Bedroom                 float64
Median Price 5 Bedroom                 float64
Sales per Month                        float64
Zip_Code                                 int64
Month                                   object
dtype: object

In [34]:
housing_df_month = housing_df_nonan.Date.str.split('-', expand=True)

In [39]:
housing_df_month.head()

        0   1   2
173  2010  09  30
174  2010  10  31
175  2010  11  30
176  2010  12  31
177  2011  01  31

In [14]:
housing_df_nonan['Month'] = housing_df_nonan.Date.apply(lambda x: x[5:7])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
housing_df_nonan.count()

Date                                   1747
% of Homes Decreasing in Value         1747
% of Homes Increasing in Value         1747
% of Listings with Price Reduction     1747
Median % Reduction                     1747
Median List Price                      1747
Median List Price per Square Foot      1747
Median Market Value (Single Family)    1747
Median Price 1 Bedroom                 1747
Median Price 2 Bedroom                 1747
Median Price 3 Bedroom                 1747
Median Price 4 Bedroom                 1747
Median Price 5 Bedroom                 1747
Sales per Month                        1747
Zip_Code                               1747
Month                                  1747
dtype: int64

In [16]:
housing_df_nonan.to_csv('indy_nonan_housing_data.csv')

In [49]:
housing_df_nonan_12 = housing_df_nonan.loc[housing_df_nonan['Month'] == '12']

In [50]:
housing_df_nonan_12

,Date,% of Homes Decreasing in Value,% of Homes Increasing in Value,% of Listings with Price Reduction,Median % Reduction,Median List Price,Median List Price per Square Foot,Median Market Value (Single Family),Median Price 1 Bedroom,Median Price 2 Bedroom,Median Price 3 Bedroom,Median Price 4 Bedroom,Median Price 5 Bedroom,Sales per Month,Zip_Code,Month
176,2010-12-31,22.06,68.58,16.000000,5.555556,80000.0,72.812500,85064.0,68599.0,69448.0,87099.0,105506.0,113842.0,15.0,46107,12
188,2011-12-31,18.11,78.03,7.692308,10.000000,73950.0,66.649555,78347.0,63987.0,63486.0,80756.0,95389.0,106590.0,18.0,46107,12
200,2012-12-31,77.21,18.03,13.235294,7.070707,75000.0,68.548387,79427.0,62173.0,61204.0,82288.0,98022.0,109390.0,17.0,46107,12
212,2013-12-31,66.99,27.66,10.666667,1.123596,88000.0,72.929793,83417.0,67903.0,66205.0,85586.0,103426.0,116770.0,22.0,46107,12
224,2014-12-31,34.80,59.70,6.329114,4.761905,89450.0,76.251003,89487.0,76668.0,71305.0,92137.0,109217.0,121540.0,17.0,46107,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10051,2011-12-31,62.66,27.71,10.077519,3.177422,179950.0,91.254205,160535.0,110696.0,99986.0,125093.0,202642.0,376039.0,34.0,46236,12
10063,2012-12-31,60.05,28.72,7.723577,4.428698,169900.0,86.497341,160451.0,95136.0,93841.0,123264.0,204559.0,388730.0,42.0,46236,12
10075,2013-12-31,67.87,24.80,12.236287,3.870968,176500.0,88.922089,171113.0,93840.0,101765.0,130466.0,218216.0,416465.0,49.0,46236,12
10087,2014-12-31,23.80,72.16,9.246575,3.181343,179900.0,90.909091,179742.0,80062.0,109939.0,137782.0,228331.0,448149.0,46.0,46236,12
10099,2015-12-31,7.48,86.71,12.272727,2.177416,220000.0,98.052429,180133.0,70885.0,108668.0,139473.0,227544.0,436155.0,58.0,46236,12

In [70]:
import matplotlib.pyplot as plt
X = housing_df_nonan_12.loc['Median Market Value (Single Family)'].values.reshape(-1, 1)
y = housing_df_nonan_12.score.values.reshape(-1, 1)
plt.scatter(X, y)

KeyError: 'Median Market Value (Single Family)'

In [51]:
housing_df_nonan_11 = housing_df_nonan.loc[housing_df_nonan['Month'] == '11']

In [53]:
housing_df_nonan_11.count()

Date                                   147
% of Homes Decreasing in Value         147
% of Homes Increasing in Value         147
% of Listings with Price Reduction     147
Median % Reduction                     147
Median List Price                      147
Median List Price per Square Foot      147
Median Market Value (Single Family)    147
Median Price 1 Bedroom                 147
Median Price 2 Bedroom                 147
Median Price 3 Bedroom                 147
Median Price 4 Bedroom                 147
Median Price 5 Bedroom                 147
Sales per Month                        147
Zip_Code                               147
Month                                  147
dtype: int64

In [57]:
housing_df_nonan_10 = housing_df_nonan.loc[housing_df_nonan['Month'] == '10']

In [58]:
housing_df_nonan_09 = housing_df_nonan.loc[housing_df_nonan['Month'] == '09']

In [59]:
housing_df_nonan_08 = housing_df_nonan.loc[housing_df_nonan['Month'] == '08']

In [60]:
housing_df_nonan_07 = housing_df_nonan.loc[housing_df_nonan['Month'] == '07']

In [61]:
housing_df_nonan_06 = housing_df_nonan.loc[housing_df_nonan['Month'] == '06']

In [62]:
housing_df_nonan_05 = housing_df_nonan.loc[housing_df_nonan['Month'] == '05']

In [65]:
housing_df_nonan_04 = housing_df_nonan.loc[housing_df_nonan['Month'] == '04']
housing_df_nonan_03 = housing_df_nonan.loc[housing_df_nonan['Month'] == '03']
housing_df_nonan_02 = housing_df_nonan.loc[housing_df_nonan['Month'] == '02']

In [71]:
housing_df_nonan_02.head()

,Date,% of Homes Decreasing in Value,% of Homes Increasing in Value,% of Listings with Price Reduction,Median % Reduction,Median List Price,Median List Price per Square Foot,Median Market Value (Single Family),Median Price 1 Bedroom,Median Price 2 Bedroom,Median Price 3 Bedroom,Median Price 4 Bedroom,Median Price 5 Bedroom,Sales per Month,Zip_Code,Month
178,2011-02-28,21.79,69.28,16.216216,7.702195,79450.0,70.393375,83957.0,66635.0,68689.0,85934.0,103562.0,112868.0,9.0,46107,02
190,2012-02-29,33.11,62.41,11.111111,4.955005,70000.0,67.710212,77375.0,63624.0,62203.0,79882.0,94533.0,105495.0,9.0,46107,02
202,2013-02-28,63.63,26.22,6.153846,9.283108,78000.0,70.833333,79840.0,63336.0,61761.0,82661.0,98463.0,109950.0,15.0,46107,02
214,2014-02-28,77.04,17.31,11.688312,2.657501,88000.0,69.813520,85258.0,69581.0,67287.0,87667.0,105962.0,119782.0,19.0,46107,02
226,2015-02-28,38.53,56.74,15.789474,3.924557,92500.0,76.983099,89023.0,76472.0,71319.0,91533.0,108533.0,120868.0,8.0,46107,02

In [76]:
import pickle
housing_df_nonan_02.to_pickle("housing_df_nonan_02.pkl")

In [1]:
housing_df_nonan_feb = pd.read_pickle('housing_df_nonan_02.pkl')

In [5]:
housing_df_nonan_feb = housing_df_nonan_feb.reset_index(drop=True)

In [6]:
housing_df_nonan_feb.head()

,Date,% of Homes Decreasing in Value,% of Homes Increasing in Value,% of Listings with Price Reduction,Median % Reduction,Median List Price,Median List Price per Square Foot,Median Market Value (Single Family),Median Price 1 Bedroom,Median Price 2 Bedroom,Median Price 3 Bedroom,Median Price 4 Bedroom,Median Price 5 Bedroom,Sales per Month,Zip_Code,Month
0,2011-02-28,21.79,69.28,16.216216,7.702195,79450.0,70.393375,83957.0,66635.0,68689.0,85934.0,103562.0,112868.0,9.0,46107,02
1,2012-02-29,33.11,62.41,11.111111,4.955005,70000.0,67.710212,77375.0,63624.0,62203.0,79882.0,94533.0,105495.0,9.0,46107,02
2,2013-02-28,63.63,26.22,6.153846,9.283108,78000.0,70.833333,79840.0,63336.0,61761.0,82661.0,98463.0,109950.0,15.0,46107,02
3,2014-02-28,77.04,17.31,11.688312,2.657501,88000.0,69.813520,85258.0,69581.0,67287.0,87667.0,105962.0,119782.0,19.0,46107,02
4,2015-02-28,38.53,56.74,15.789474,3.924557,92500.0,76.983099,89023.0,76472.0,71319.0,91533.0,108533.0,120868.0,8.0,46107,02

In [7]:
housing_df_nonan_feb.to_json('housing_df_nonan_feb.json')