In [128]:
# Dependencies
import numpy as np
import quandl
import pandas as pd
import json
import requests

In [129]:
quandl.ApiConfig.api_key = "vyjz35TZgRa_whhfdpg2"

In [143]:
#Practice for one zip code - 46220
zip_46220_1B = quandl.get("ZILLOW/Z46220_ZHVI1B")
zip_46220_1B_df = pd.DataFrame(zip_46220_1B)
zip_46220_1B_df1 = zip_46220_1B_df.rename(columns={"Value":"Median Price 1 Bedroom"})
zip_46220_1B_df1.tail()

            Median Price 1 Bedroom
Date
2019-11-30                172591.0
2019-12-31                172684.0
2020-01-31                173191.0
2020-02-29                174423.0
2020-03-31                175273.0

In [145]:
zip_46220_2B = quandl.get("ZILLOW/Z46220_ZHVI2B")
zip_46220_2B_df = pd.DataFrame(zip_46220_2B)
zip_46220_2B_df1 = zip_46220_2B_df.rename(columns={"Value":"Median Price 2 Bedrooms"})
zip_46220_2B_df1.tail()

            Median Price 2 Bedrooms
Date
2019-11-30                 215522.0
2019-12-31                 215573.0
2020-01-31                 216040.0
2020-02-29                 217182.0
2020-03-31                 218346.0

In [146]:
zip_46220_3B = quandl.get("ZILLOW/Z46220_ZHVI3B")
zip_46220_3B_df = pd.DataFrame(zip_46220_3B)
zip_46220_3B_df1 = zip_46220_3B_df.rename(columns={"Value":"Median Price 3 Bedrooms"})
zip_46220_3B_df1.head()

            Median Price 3 Bedrooms
Date
1996-04-30                 135000.0
1996-05-31                 134100.0
1996-06-30                 133000.0
1996-07-31                 132000.0
1996-08-31                 130900.0

In [148]:
zip_46220_4B = quandl.get("ZILLOW/Z46220_ZHVI4B")
zip_46220_4B_df = pd.DataFrame(zip_46220_4B)
zip_46220_4B_df1 = zip_46220_4B_df.rename(columns={"Value":"Median Price 4 Bedrooms"})
zip_46220_4B_df1.head()

            Median Price 4 Bedrooms
Date
1996-04-30                 162400.0
1996-05-31                 163100.0
1996-06-30                 163700.0
1996-07-31                 164300.0
1996-08-31                 165000.0

In [149]:
zip_46220_5B = quandl.get("ZILLOW/Z46220_ZHVI5B")
zip_46220_5B_df = pd.DataFrame(zip_46220_5B)
zip_46220_5B_df1 = zip_46220_5B_df.rename(columns={"Value":"Median Price 5+ Bedrooms"})
zip_46220_5B_df1.head()

            Median Price 5+ Bedrooms
Date
1996-04-30                  235900.0
1996-05-31                  237400.0
1996-06-30                  238900.0
1996-07-31                  240400.0
1996-08-31                  241900.0

In [150]:
zip_46220_SF = quandl.get("ZILLOW/Z46220_ZHVISF")
zip_46220_SF_df = pd.DataFrame(zip_46220_SF)
zip_46220_SF_df1 = zip_46220_SF_df.rename(columns={"Value":"Median Market Value (Single Family)"})
zip_46220_SF_df1.head()

            Median Market Value (Single Family)
Date
1996-04-30                             136200.0
1996-05-31                             135100.0
1996-06-30                             133800.0
1996-07-31                             132200.0
1996-08-31                             130600.0

In [171]:
zip_46220_median_sale = quandl.get("ZILLOW/Z46220_SALES")
zip_46220_median_sale_df = pd.DataFrame(zip_46220_median_sale)
zip_46220_median_sale_df1 = zip_46220_median_sale_df.rename(columns={"Value":"Sales per Month"})
zip_46220_median_sale_df1.tail()

            Sales per Month
Date
2016-02-29             25.0
2016-03-31             49.0
2016-04-30             59.0
2016-05-31             78.0
2016-06-30             37.0

In [152]:
zip_46220_median_listprice = quandl.get("ZILLOW/Z46220_MLPSF")
zip_46220_median_listprice_df = pd.DataFrame(zip_46220_median_listprice)
zip_46220_median_listprice_df1 = zip_46220_median_listprice_df.rename(columns={"Value":"Median List Price"})
zip_46220_median_listprice_df1.head()

            Median List Price
Date
2010-01-31           174900.0
2010-02-28           169900.0
2010-03-31           174900.0
2010-04-30           179800.0
2010-05-31           179900.0

In [153]:
zip_46220_median_squarefoot = quandl.get("ZILLOW/Z46220_MLPFSF")
zip_46220_median_squarefoot_df = pd.DataFrame(zip_46220_median_squarefoot)
zip_46220_median_squarefoot_df1 = zip_46220_median_squarefoot_df.rename(columns={"Value":"Median List Price per Square Foot"})
zip_46220_median_squarefoot_df1.head()

            Median List Price per Square Foot
Date
2010-01-31                         116.973244
2010-02-28                         118.577075
2010-03-31                         122.623348
2010-04-30                         123.177083
2010-05-31                         124.704422

In [154]:
zip_46220_percent_reduced = quandl.get("ZILLOW/Z46220_MPPRSF")
zip_46220_percent_reduced_df = pd.DataFrame(zip_46220_percent_reduced)
zip_46220_percent_reduced_df1 = zip_46220_percent_reduced_df.rename(columns={"Value":"Median % Reduction"})
zip_46220_percent_reduced_df1.head()

            Median % Reduction
Date
2010-09-30            3.903076
2010-10-31            3.573981
2010-11-30            4.001921
2010-12-31            3.706449
2011-01-31            2.904208

In [157]:
zip_46220_percent_increasing = quandl.get("ZILLOW/Z46220_PHDVAH")
zip_46220_percent_increasing_df = pd.DataFrame(zip_46220_percent_increasing)
zip_46220_percent_increasing_df1 = zip_46220_percent_increasing_df.rename(columns={"Value":"% of Homes Increasing in Value"})
zip_46220_percent_increasing_df1.head()

            % of Homes Increasing in Value
Date
2005-02-28                           14.78
2005-03-31                           14.62
2005-04-30                           16.84
2005-05-31                           12.16
2005-06-30                           19.30

In [158]:
zip_46220_percent_decreasing = quandl.get("ZILLOW/Z46220_PHIVAH")
zip_46220_percent_decreasing_df = pd.DataFrame(zip_46220_percent_decreasing)
zip_46220_percent_decreasing_df1 = zip_46220_percent_decreasing_df.rename(columns={"Value":"% of Homes Decreasing in Value"})
zip_46220_percent_decreasing_df1.head()

            % of Homes Decreasing in Value
Date
2005-02-28                           78.07
2005-03-31                           77.71
2005-04-30                           74.22
2005-05-31                           79.57
2005-06-30                           69.83

In [163]:
zip_46220_percent_listedreduction = quandl.get("ZILLOW/Z46220_PLPRSF")
zip_46220_percent_listedreduction_df = pd.DataFrame(zip_46220_percent_listedreduction)
zip_46220_percent_listedreduction_df1 = zip_46220_percent_listedreduction_df.rename(columns={"Value":"% of Listings with Price Reduction"})
zip_46220_percent_listedreduction_df1.tail()

            % of Listings with Price Reduction
Date
2019-08-31                           23.437500
2019-09-30                           24.107143
2019-10-31                           23.430962
2019-11-30                           17.180617
2019-12-31                           16.216216

In [160]:
dfs = [zip_46220_1B_df1, zip_46220_2B_df1, zip_46220_3B_df1, zip_46220_4B_df1, zip_46220_5B_df1, zip_46220_SF_df1,
      zip_46220_median_sale_df1, zip_46220_median_listprice_df1, zip_46220_median_squarefoot_df1,
      zip_46220_percent_reduced_df1, zip_46220_percent_increasing_df1, zip_46220_percent_decreasing_df1,
      zip_46220_percent_listedreduction_df1]

In [248]:
#combine dataframes
from functools import reduce
zip46220 = reduce(lambda left,right: pd.merge(left,right,on='Date', how='outer'), dfs)
zip46220.tail()

,Median Price 1 Bedroom,Median Price 2 Bedrooms,Median Price 3 Bedrooms,Median Price 4 Bedrooms,Median Price 5+ Bedrooms,Median Market Value (Single Family),Sales per Month,Median List Price,Median List Price per Square Foot,Median % Reduction,% of Homes Increasing in Value,% of Homes Decreasing in Value,% of Listings with Price Reduction
Date,,,,,,,,,,,,,
2019-11-30,172591.0,215522.0,243825.0,338265.0,475723.0,246991.0,NaN,254900.0,179.948586,2.723312,NaN,NaN,17.180617
2019-12-31,172684.0,215573.0,244010.0,338727.0,476078.0,247115.0,NaN,250000.0,178.492063,3.006368,NaN,NaN,16.216216
2020-01-31,173191.0,216040.0,244343.0,339216.0,476211.0,247497.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-29,174423.0,217182.0,245442.0,340957.0,478611.0,248645.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-03-31,175273.0,218346.0,246543.0,342123.0,480511.0,249753.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [172]:
zip46220["Zip_Code"] = '46220'

In [173]:
zip46220.head()

,Median Price 1 Bedroom,Median Price 2 Bedrooms,Median Price 3 Bedrooms,Median Price 4 Bedrooms,Median Price 5+ Bedrooms,Median Market Value (Single Family),Sales per Month,Median List Price,Median List Price per Square Foot,Median % Reduction,% of Homes Increasing in Value,% of Homes Decreasing in Value,% of Listings with Price Reduction,Zip_Code
Date,,,,,,,,,,,,,,
1996-04-30,113900.0,116300.0,135000.0,162400.0,235900.0,136200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46220
1996-05-31,113700.0,116100.0,134100.0,163100.0,237400.0,135100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46220
1996-06-30,113500.0,116000.0,133000.0,163700.0,238900.0,133800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46220
1996-07-31,113400.0,115900.0,132000.0,164300.0,240400.0,132200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46220
1996-08-31,113100.0,115700.0,130900.0,165000.0,241900.0,130600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46220

In [174]:
zip46220.to_csv("zip46220.csv")

In [180]:

#zip = 46220
#practice = f"Zillow/Z{zip}_ZHVI1B"
#print(practice)

In [233]:
indianapolis_zipcodes = ["46107", "46217", "46218", "46219", "46220","46221", "46222", "46224", "46225", "46226",
                        "46227", "46228", "46229", "46231", "46234", "46235", "46201", "46202", "46203", "46204",
                        "46205", "46208", "46214", "46237", "46239", "46240", "46241", "46250", "46254", "46256",
                        "46259", "46260", "46268", "46278", "46216", "46236", "46183"]

In [234]:
indianapolis_zipcodes_dataavailable = ["46107", "46217", "46218", "46219", "46220"]

In [237]:
Indianapolis_Housing_Data = pd.DataFrame()

In [238]:
for zip in indianapolis_zipcodes:
    dataframe_list = []
    
    try:
        #One Bedroom DataFrame
        one_bedroom_indicator = f"Zillow/Z{zip}_ZHVI1B"
        one_bedroom = quandl.get(one_bedroom_indicator)
        one_bedroom_df = pd.DataFrame(one_bedroom)
        one_bedroom_final = one_bedroom_df.rename(columns={"Value": "Median Price 1 Bedroom"})
        dataframe_list.append(one_bedroom_final)
    except:
        print(one_bedroom_indicator)
    
    try:
        #Two Bedroom DataFrame
        two_bedroom_indicator = f"Zillow/Z{zip}_ZHVI2B"
        two_bedroom = quandl.get(two_bedroom_indicator)
        two_bedroom_df = pd.DataFrame(two_bedroom)
        two_bedroom_final = two_bedroom_df.rename(columns={"Value": "Median Price 2 Bedroom"})
        dataframe_list.append(two_bedroom_final)
    except:
        print(two_bedroom_indicator)
        
    try:
        #Three Bedroom DataFrame
        three_bedroom_indicator = f"Zillow/Z{zip}_ZHVI3B"
        three_bedroom = quandl.get(three_bedroom_indicator)
        three_bedroom_df = pd.DataFrame(three_bedroom)
        three_bedroom_final = three_bedroom_df.rename(columns={"Value": "Median Price 3 Bedroom"})
        dataframe_list.append(three_bedroom_final)
    except:
        print(three_bedroom_indicator)

    try:
        #Four Bedroom DataFrame
        four_bedroom_indicator = f"Zillow/Z{zip}_ZHVI4B"
        four_bedroom = quandl.get(four_bedroom_indicator)
        four_bedroom_df = pd.DataFrame(four_bedroom)
        four_bedroom_final = four_bedroom_df.rename(columns={"Value": "Median Price 4 Bedroom"})
        dataframe_list.append(four_bedroom_final)
    except:
        print(four_bedroom_indicator)
        
    try:
        #Five Bedroom DataFrame
        five_bedroom_indicator = f"Zillow/Z{zip}_ZHVI5B"
        five_bedroom = quandl.get(five_bedroom_indicator)
        five_bedroom_df = pd.DataFrame(five_bedroom)
        five_bedroom_final = five_bedroom_df.rename(columns={"Value": "Median Price 5 Bedroom"})
        dataframe_list.append(five_bedroom_final)
    except:
        print(five_bedroom_indicator)

    try:
        #Median Market Value (Single Family)
        median_market_value_indicator = f"Zillow/Z{zip}_ZHVISF"
        median_market_value = quandl.get(median_market_value_indicator)
        median_market_value_df = pd.DataFrame(median_market_value)
        median_market_value_final = median_market_value_df.rename(columns={"Value":"Median Market Value (Single Family)"})
        dataframe_list.append(median_market_value_final)
    except:
        print(median_market_value_indicator)
        
    try:
        #Sales per Month
        salesPerMonth_indicator = f"Zillow/Z{zip}_SALES"
        salesPerMonth = quandl.get(salesPerMonth_indicator)
        salesPerMonth_df = pd.DataFrame(salesPerMonth)
        salesPerMonth_final = salesPerMonth_df.rename(columns={"Value":"Sales per Month"})
        dataframe_list.append(salesPerMonth_final)
    except:
        print(salesPerMonth_indicator)

    try:
        #Median List Price
        medianListPrice_indicator = f"Zillow/Z{zip}_MLPSF"
        medianListPrice = quandl.get(medianListPrice_indicator)
        medianListPrice_df = pd.DataFrame(medianListPrice)
        medianListPrice_final = medianListPrice_df.rename(columns={"Value":"Median List Price"})
        dataframe_list.append(medianListPrice_final)
    except:
        print(medianListPrice_indicator)

    try:
        #Median List Price per Square Foot
        medianPrice_squareFoot_indicator = f"Zillow/Z{zip}_MLPFSF"
        medianPrice_squareFoot = quandl.get(medianPrice_squareFoot_indicator)
        medianPrice_squareFoot_df = pd.DataFrame(medianPrice_squareFoot)
        medianPrice_squareFoot_final = medianPrice_squareFoot_df.rename(columns={"Value":"Median List Price per Square Foot"})
        dataframe_list.append(medianPrice_squareFoot_final)
    except:
        print(medianPrice_squareFoot_indicator)

    try:
        #Median % Reduction
        percentReduction_indicator = f"Zillow/Z{zip}_MPPRSF"
        percentReduction = quandl.get(percentReduction_indicator)
        percentReduction_df = pd.DataFrame(percentReduction)
        percentReduction_final = percentReduction_df.rename(columns={"Value":"Median % Reduction"})
        dataframe_list.append(percentReduction_final)
    except:
        print(percentReduction_indicator)

    try:
        #Percentage of Homes Increasing in Value
        percentIncreasing_indicator = f"Zillow/Z{zip}_PHDVAH"
        percentIncreasing = quandl.get(percentIncreasing_indicator)
        percentIncreasing_df = pd.DataFrame(percentIncreasing)
        percentIncreasing_final = percentIncreasing_df.rename(columns={"Value":"% of Homes Increasing in Value"})
        dataframe_list.append(percentIncreasing_final)
    except:
        print(percentIncreasing_indicator)

    try:
        #Percentage of Homes Decreasing in Value
        percentDecreasing_indicator = f"Zillow/Z{zip}_PHIVAH"
        percentDecreasing= quandl.get(percentDecreasing_indicator)
        percentDecreasing_df = pd.DataFrame(percentDecreasing)
        percentDecreasing_final = percentDecreasing_df.rename(columns={"Value":"% of Homes Decreasing in Value"})
        dataframe_list.append(percentDecreasing_final)
    except:
        print(percentDecreasing_indicator)

    try:
        #Percentage of Listings with Price Reduction
        percentListedReduction_indicator = f"Zillow/Z{zip}_PLPRSF"
        percentListedReduction= quandl.get(percentListedReduction_indicator)
        percentListedReduction_df = pd.DataFrame(percentListedReduction)
        percentListedReduction_final = percentListedReduction_df.rename(columns={"Value":"% of Listings with Price Reduction"})
        dataframe_list.append(percentListedReduction_final)
    except:
        print(percentListedReduction_indicator)
    
    #Merge DataFrames
    from functools import reduce
    zipData = reduce(lambda left,right: pd.merge(left,right,on='Date', how='outer'), dataframe_list)
    zipData["Zip_Code"] = zip
    zipData.sort_values(by=['Date'], inplace=True)
    
    
    #Add DataFrame for each Zip Code to the final DataFrame
    Indianapolis_Housing_Data = pd.concat([Indianapolis_Housing_Data, zipData])

Zillow/Z46225_MPPRSF

/Users/allysontalyor/Applications/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:142: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

Zillow/Z46204_ZHVI5B
Zillow/Z46204_MLPSF
Zillow/Z46204_MLPFSF
Zillow/Z46204_MPPRSF
Zillow/Z46204_PLPRSF
Zillow/Z46216_ZHVI1B
Zillow/Z46216_MLPSF
Zillow/Z46216_MLPFSF
Zillow/Z46216_MPPRSF
Zillow/Z46216_PLPRSF
Zillow/Z46183_ZHVI1B
Zillow/Z46183_ZHVI5B
Zillow/Z46183_MLPSF
Zillow/Z46183_MLPFSF
Zillow/Z46183_MPPRSF
Zillow/Z46183_PLPRSF

In [239]:
#pd.set_option("display.max_rows", None, "display.max_columns", None)
Indianapolis_Housing_Data.head()

,% of Homes Decreasing in Value,% of Homes Increasing in Value,% of Listings with Price Reduction,Median % Reduction,Median List Price,Median List Price per Square Foot,Median Market Value (Single Family),Median Price 1 Bedroom,Median Price 2 Bedroom,Median Price 3 Bedroom,Median Price 4 Bedroom,Median Price 5 Bedroom,Sales per Month,Zip_Code
Date,,,,,,,,,,,,,,
1996-04-30,NaN,NaN,NaN,NaN,NaN,NaN,93800.0,NaN,86600.0,90600.0,113100.0,NaN,NaN,46107
1996-05-31,NaN,NaN,NaN,NaN,NaN,NaN,92100.0,NaN,85400.0,89300.0,111900.0,NaN,NaN,46107
1996-06-30,NaN,NaN,NaN,NaN,NaN,NaN,90300.0,NaN,84100.0,87900.0,110900.0,NaN,NaN,46107
1996-07-31,NaN,NaN,NaN,NaN,NaN,NaN,88400.0,NaN,82800.0,86500.0,109800.0,NaN,NaN,46107
1996-08-31,NaN,NaN,NaN,NaN,NaN,NaN,86500.0,NaN,81500.0,85200.0,108800.0,NaN,NaN,46107

In [240]:
print(len(Indianapolis_Housing_Data["Zip_Code"]))

10399

In [244]:
zip46225 = Indianapolis_Housing_Data.loc[Indianapolis_Housing_Data["Zip_Code"] == "46225"]
zip46225.tail()

,% of Homes Decreasing in Value,% of Homes Increasing in Value,% of Listings with Price Reduction,Median % Reduction,Median List Price,Median List Price per Square Foot,Median Market Value (Single Family),Median Price 1 Bedroom,Median Price 2 Bedroom,Median Price 3 Bedroom,Median Price 4 Bedroom,Median Price 5 Bedroom,Sales per Month,Zip_Code
Date,,,,,,,,,,,,,,
2019-11-30,NaN,NaN,21.176471,NaN,NaN,NaN,89620.0,65736.0,83164.0,96571.0,112444.0,138383.0,NaN,46225
2019-12-31,NaN,NaN,15.277778,NaN,NaN,NaN,89967.0,65664.0,83057.0,97288.0,114144.0,139206.0,NaN,46225
2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,90460.0,65854.0,83116.0,98080.0,115698.0,139973.0,NaN,46225
2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,91157.0,66628.0,83574.0,99047.0,116875.0,140189.0,NaN,46225
2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,91831.0,67043.0,83887.0,100093.0,117936.0,140381.0,NaN,46225

In [245]:
zip46204 = Indianapolis_Housing_Data.loc[Indianapolis_Housing_Data["Zip_Code"] == "46204"]
zip46204.tail()

,% of Homes Decreasing in Value,% of Homes Increasing in Value,% of Listings with Price Reduction,Median % Reduction,Median List Price,Median List Price per Square Foot,Median Market Value (Single Family),Median Price 1 Bedroom,Median Price 2 Bedroom,Median Price 3 Bedroom,Median Price 4 Bedroom,Median Price 5 Bedroom,Sales per Month,Zip_Code
Date,,,,,,,,,,,,,,
2019-11-30,NaN,NaN,NaN,NaN,NaN,NaN,460086.0,228252.0,346504.0,534192.0,1067283.0,NaN,NaN,46204
2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,459821.0,227329.0,345628.0,534128.0,1060638.0,NaN,NaN,46204
2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,459398.0,227140.0,345530.0,534425.0,1054914.0,NaN,NaN,46204
2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,461780.0,227643.0,346583.0,538597.0,1052122.0,NaN,NaN,46204
2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,464730.0,227730.0,347272.0,542535.0,1049967.0,NaN,NaN,46204

In [246]:
zip46216 = Indianapolis_Housing_Data.loc[Indianapolis_Housing_Data["Zip_Code"] == "46216"]
zip46216.tail()

,% of Homes Decreasing in Value,% of Homes Increasing in Value,% of Listings with Price Reduction,Median % Reduction,Median List Price,Median List Price per Square Foot,Median Market Value (Single Family),Median Price 1 Bedroom,Median Price 2 Bedroom,Median Price 3 Bedroom,Median Price 4 Bedroom,Median Price 5 Bedroom,Sales per Month,Zip_Code
Date,,,,,,,,,,,,,,
2019-11-30,NaN,NaN,NaN,NaN,NaN,NaN,189223.0,NaN,164052.0,207000.0,197336.0,506612.0,NaN,46216
2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,189817.0,NaN,164458.0,207331.0,198203.0,507647.0,NaN,46216
2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,190242.0,NaN,164709.0,207896.0,198962.0,510742.0,NaN,46216
2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,191674.0,NaN,165629.0,209430.0,201325.0,514710.0,NaN,46216
2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,193018.0,NaN,166529.0,210951.0,203234.0,516336.0,NaN,46216

In [247]:
zip46220 = Indianapolis_Housing_Data.loc[Indianapolis_Housing_Data["Zip_Code"] == "46220"]
zip46220.tail()

,% of Homes Decreasing in Value,% of Homes Increasing in Value,% of Listings with Price Reduction,Median % Reduction,Median List Price,Median List Price per Square Foot,Median Market Value (Single Family),Median Price 1 Bedroom,Median Price 2 Bedroom,Median Price 3 Bedroom,Median Price 4 Bedroom,Median Price 5 Bedroom,Sales per Month,Zip_Code
Date,,,,,,,,,,,,,,
2019-11-30,NaN,NaN,17.180617,2.723312,254900.0,179.948586,246991.0,172591.0,215522.0,243825.0,338265.0,475723.0,NaN,46220
2019-12-31,NaN,NaN,16.216216,3.006368,250000.0,178.492063,247115.0,172684.0,215573.0,244010.0,338727.0,476078.0,NaN,46220
2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,247497.0,173191.0,216040.0,244343.0,339216.0,476211.0,NaN,46220
2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,248645.0,174423.0,217182.0,245442.0,340957.0,478611.0,NaN,46220
2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,249753.0,175273.0,218346.0,246543.0,342123.0,480511.0,NaN,46220

In [249]:
Indianapolis_Housing_Data.to_csv("Indianapolis_Housing_Data.csv")